body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(31, 28, 28);
  color: white;
}
#exercises {
  max-width: fit-content;
}
.exercises-list {
  flex: 1;
}
#header {
  max-width: fit-content;
  font-size: 3em;
  text-align: right;
}
button {
  font-size: 1.3em;
  display: block;
  color: white;
  background-color: hsl(211, 72%, 70%);
  border-radius: 10px;
  margin: 10px;
}
#video-video {
  border-radius: 15px;
  border: 3px solid hsl(211, 72%, 60%);
  margin-bottom: 50px;
  margin-right: 50px;
}
#preview{
  text-align: right;
}

#preview p {
  font-size: 3em;
  max-width: fit-content;
  text-align: center;
  font-size: 3em;
}

button:hover {
  cursor: pointer;
  background-color: hsl(211, 72%, 60%);
  transition: 0.3s;
}
.image {
    width: 100%;
    height: 50%;
}
.title {
    font-size: 2em;
    color: white;
}
.navbar ul{
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    background-color: hsl(211, 72%, 70%); 
    overflow: hidden;
    font-size:1.5em;

}

.navbar a{
    margin: 0px;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align:center;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.271);
}

.navbar li{
    float: left;
}

video{
    height: 300px;
    
}






footer{
  background-color: hsl(211, 72%, 70%);
}
.Container-footer{
  padding: 70px 30px 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.social{
  display: flex;
  justify-content: left;
}
.social a{
  text-decoration: none;
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 50%;
}
.social a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.social a:hover{
  background-color: #111;
  transition: 0.3s;
}
.social a:hover i{
  color: whitesmoke;
  transition: 0.3s;
}
.Nav{
  margin: 30px 0;
  font-size: 20px;
}
.Nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.Nav ul li a{
  color: whitesmoke;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.3s;
}
.Nav ul li a:hover{
  opacity: 1;
}
.Bottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.Bottom p{
  color: whitesmoke;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px 5px ;
}
@media (max-width: 700px){
  .Nav ul{
      flex-direction: column;
  }
  .Nav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
}
.grid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-title {
  text-align: right;
}