body {
    background-color: rgb(31, 28, 28);
    color: white;
}
.container {
    font-family: Arial, sans-serif;
    align-self: center;
    border: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:none;
    flex: 1;

}

.container .title {
    flex-flow: row;
    font-size: 4em;
    position: relative;
    text-align:center;
    box-shadow: none;
}   

.container .button {
    box-shadow:none;
    float:left;
    overflow: auto;
    height: 130px;
    width: 250px;
    font-size: 2.3em;
    background-color: hsl(211, 72%, 70%);
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(211, 72%, 60%);
}

.intensity{
    margin:5px;
    position: relative;
    border:none;
    box-shadow:0px 0px;
}
.intensity-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
