body {
    background-color: rgb(31, 28, 28);
    color: white;
}
.container {
    font-family: Arial, sans-serif;
    border: none;
}

.container .title {
    font-size: 4em;
}

.container .button {
    display: inline-block;
    height: 130px;
    width: 250px;
    font-size: 2.3em;
    margin-top: 2em;
    background-color: hsl(211, 72%, 70%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    box-shadow: 3px 3px 3px hsl(0, 0%, 10%);
}

.button:hover {
    cursor: pointer;
    background-color: hsl(211, 72%, 60%);
}