body {
    background-color: rgb(31, 28, 28);
    color: white;
}
.container {
    font-family: Arial, sans-serif;
    border: none;
    display:flex;
    max-height: 50px;
    box-shadow:none;
}

.container .title {
    flex-flow: row;
    font-size: 4em;
    min-width: 1450px;
    position: relative;
    text-align:center;
    box-shadow: none;
}

.container .button {
    box-shadow:none;
    float:left;
    overflow: auto;
    margin-left:100px;
    height: 130px;
    width: 250px;
    margin-top:50px;
    font-size: 2.3em;
    background-color: hsl(211, 72%, 70%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(211, 72%, 60%);
}

#Contain1{
    max-height:100px;
    margin:5px;
    position: relative;
    top:200px;
    right:1390px;
    border:none;
    box-shadow:0px 0px;
}
#Contain2{
    max-height:100px;
    margin:5px;
    position: relative;
    top:200px;
    right:1390px;
    border:none;
    box-shadow:0px 0px;
}
#Contain3{
    max-height:100px;
    margin:5px;
    position: relative;
    top:200px;
    right:1390px;
    border:none;
    box-shadow:0px 0px;
}
