body {
    background-color: rgb(31, 28, 28);
}
button{
    background-color: hsl(211, 72%, 70%);
    border: 3px solid hsl(211, 72%, 70%);
    border-radius: 5px;
    font-size:2.2em;
    color:rgb(255, 255, 255);
    text-align: center;
    width: auto;
    height: auto;
    
}

.container {
    text-align: center;
    height: 400px;
    max-width: 300px;
    margin: 30px;
}
button:hover{
    background-color: rgb(101, 101, 255);
    cursor: pointer;
}
div{
    display:inline-block;
    height: 210px;
    width: 405px;
    margin-left: 10%;
    margin-top: 22em;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    
}
.image {
    width: 100%;
    height: 50%;
}
.title {
    font-size: 2em;
    color: white;
}
.navbar ul{
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    background-color: hsl(211, 72%, 70%); 
    overflow: hidden;
    font-size:1.5em;

}

.navbar a{
    margin: 0px;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align:center;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.271);
}

.navbar li{
    float: left;
}

